/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CONTAINER */
.container {
  max-width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 4rem 1fr 2rem;
  grid-template-areas: "header" "content" "footer";
}

/* HEADER */
.header {
  grid-area: header;
  padding: 1rem 0;
  z-index: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #dde2e3;
  background-color: #3c455c;
}

label {
  padding-left: 2rem;
}

/* CONTENT */
.content {
  grid-area: content;
  font-family: "Raleway", sans-serif;
}

/* FOOTER */
.footer {
  grid-area: footer;
  text-align: center;
  padding-top: 0.5rem;
  font-family: "Montserrat", sans-serif;
  color: #dde2e3;
  background-color: #3c455c;
}

/* NAVBAR */
input#menu {
  display: none;
}

nav ul {
  list-style-type: none;
}

nav ul li a {
  display: block;
  width: 100%;
  padding: 20px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  color: #dde2e3;
  background-color: #3c455c;
}

nav ul li a:hover {
  cursor: pointer;
  color: #3c455c;
  background-color: #dde2e3;
}

.menu-content {
  max-height: 0;
  overflow: hidden;
  text-align: center;
  transition: max-height 0.5s ease-in;
}

input:checked ~ .menu-content {
  max-height: 300px;
}

/* HOME PAGE */
#home {
  width: 100%;
  height: 95vh;
  background-image: url(https://images.unsplash.com/photo-1521176563410-841cf0009251?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=46a8532399fdb6c11e2052d427196a12&auto=format&fit=crop&w=1395&q=80);
  background-size: cover;
}

.headline {
  position: absolute;
  font-size: 2.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  top: 70%;
  left: 10%;
  transform: translateY(-50%);
  color: #dde2e3;
}
