/* RESET */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  width: 100vw;
}

/* HEADER & FOOTER */
header,
footer {
  font-family: "Montserrat", sans-serif;
  z-index: 10;
  font-weight: 900;
  padding: 0.5rem 0;
  color: #b0c8f0;
  background-color: #1a2537;
}

footer,
.menu-content,
.skills {
  text-align: center;
}

/* NAVBAR */
input#menu {
  display: none;
}

label {
  padding-left: 2rem;
}

nav ul {
  list-style-type: none;
}

nav ul li a {
  display: block;
  width: 100%;
  padding: 1rem 0;
  text-decoration: none;
  font-size: 1.2rem;
  color: #b0c8f0;
  background-color: #1a2537;
}

nav ul li a:hover {
  cursor: pointer;
  background-color: #b0c8f0;
  color: #1a2537;
}

.menu-content {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.5s ease-in;
  -o-transition: max-height 0.5s ease-in;
  transition: max-height 0.5s ease-in;
}

input:checked ~ .menu-content {
  max-height: 300px;
}

/* BUTTONS */
.anchor-btn {
  margin: 1rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #1a2537;
  padding: 0.5rem 0.8rem;
  border: #1a2537 2px solid;
  border-radius: 12px;
  -webkit-box-shadow: 0 2px 4px #1a2537;
  box-shadow: 0 2px 4px #1a2537;
}

.anchor-btn:hover {
  background-color: #1a2537;
  color: #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-group {
  margin: 1.6rem 0 1rem 0;
  text-align: center;
}

/* HEADINGS */
h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  text-align: center;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.75rem;
}

#projects h2 {
  color: #fff;
}

/* SECTION */
section {
  padding: 2rem 1rem 1.5rem 1rem;
  color: #1a2537;
  background-color: #fff;
  width: 100%;
}

p {
  font-size: 1.2rem;
  font-family: "Raleway", sans-serif;
  margin: 10px 0;
  font-weight: 600;
  line-height: 1.7;
}

/* HOME PAGE */
#home {
  height: 95vh;
  background-image: url(images/hero.jpg);
  background-size: cover;
}

.headline {
  position: absolute;
  top: 60%;
  left: 10%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #fff;
}

/* PROJECT PAGE */
#projects {
  background-color: #1a2537;
}

.project-box {
  border-radius: 24px;
  margin: 1.5rem 0;
  padding: 1rem;
  background-color: #fff;
}

.project-box p {
  text-align: center;
}

img {
  display: block;
  margin: 1rem auto;
  width: 50vw;
}

.skills i {
  margin: 0 0.5rem;
}

/* SNOW */
.snow {
  position: absolute;
  top: 3rem;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* MEDIA QUERIES */
@media (min-width: 768px) {
  header {
    margin: 0;
    padding: 0;
  }

  .headline {
    top: 30%;
    right: 10%;
  }

  .project-box {
    width: 90%;
    margin: 1.5rem auto;
  }

  li {
    float: left;
    width: 20vw;
  }

  li a {
    display: block;
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
  }

  .menu-content {
    display: inline-block;
    max-height: 3rem;
  }

  label {
    display: none;
  }
}

@media (max-width: 450px) {
  .project-box {
    padding: 0.5rem;
  }

  .btn-group {
    margin: 0;
  }

  .anchor-btn {
    display: inline-block;
    font-size: 0.65rem;
  }
}
