/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CONTAINER */
.container {
  max-width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-areas: "header" "content" "footer";
}

/* HEADER */
.header {
  grid-area: header;
  text-align: center;
}

/* CONTENT */
.content {
  grid-area: content;
}

/* FOOTER */
.footer {
  grid-area: footer;
  text-align: center;
}
